
<!-- 
	This customlayout uses inline styles and images as well. Notice that the
	URLs are relatice to the layout, which means you can open the layout offline
	in a WYSIWYG editor (or browser), and the images will work.
 -->
 <style>
 	.btn_view a{
	
    background-image: url("VAADIN/themes/dmg-theme/img/list-all.png");
    
	}
	
	.btn_create a{
	
    background-image: url("VAADIN/themes/dmg-theme/img/create-new.png");
    
	}
	
	.btn_change a{
	
    background-image: url("VAADIN/themes/dmg-theme/img/change.png");
    
	}
	
	.btn_logout a{
	
    background-image: url("VAADIN/themes/dmg-theme/img/logout.png");
    
	}
	
	.btn_register a{
	
    background-image: url("VAADIN/themes/dmg-theme/img/register.png");
    
	}
	
	.link_div a{	
	line-height:134%;	
    background-color: #2E8EE8;    
    background-position: 15px 15px;
    background-repeat: no-repeat;
    clear: both;
    color: #FFFFFF;
    display: block;
    font-family: Arial;
    font-size: 21px;
    font-weight: bold;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 280px;
	}
	

 
 	.btn_view a:hover{
	background-color:#58a5ed;
    }
     
    .btn_create a:hover
    {
    background-color:#58a5ed;
    }
    .btn_change a:hover
    {
    background-color:#58a5ed;
    }
    .btn_logout a:hover
    {
    background-color:#58a5ed;
    }
     .btn_register a:hover
    {
    background-color:#58a5ed;
    }
 
 </style>
 
<div class="link_div btn_view"><a href="#!list">List All</a></div>
<div class="link_div btn_create"><a href="#!create">Create New</a></div>
<div class="link_div btn_register"><a href="#!register">Register User</a></div>
<div class="link_div btn_change"><a href="#!changePassword">Change Password</a></div>
<div class="link_div btn_logout"><a href="#!logout">Logout</a></div>



