<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
          http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">
	<display-name>DMG ADMIN</display-name>
		<context-param>
			<description>Vaadin production mode</description>
			<param-name>productionMode</param-name>
			<param-value>false</param-value>
		</context-param>
	<servlet>
		<servlet-name>Vaadin Main Servlet</servlet-name>
		<servlet-class>com.dmg.admin.servlet.VaadinCustomServlet</servlet-class>
		<init-param>
			<description>Vaadin UI class to use</description>
			<param-name>UI</param-name>
			<param-value>com.dmg.admin.MainUI</param-value>
		</init-param>
		<init-param>
			<description>Application widgetset</description>
			<param-name>widgetset</param-name>
			<param-value>com.dmg.admin.AppWidgetSet</param-value>
		</init-param>		
		<init-param> 
			<param-name>heartbeatInterval</param-name>
			<param-value>300</param-value>
		</init-param>
		<init-param>
			<param-name>closeIdleSessions</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
      		<param-name>pushmode</param-name>
      		<param-value>manual</param-value>
    	</init-param>
    	<init-param>
            <param-name>org.atmosphere.useWebSocketAndServlet3</param-name>
            <param-value>true</param-value>
        </init-param>
    	<async-supported>true</async-supported>  
		 
	</servlet>

	<servlet-mapping>
		<servlet-name>Vaadin Main Servlet</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>Vaadin Main Servlet</servlet-name>
		<url-pattern>/VAADIN/*</url-pattern>
	</servlet-mapping>

	<listener>
		<listener-class>com.dmg.admin.servlet.HibernateListener</listener-class>
	</listener>
	
	<!-- <filter>
		<filter-name>headersFilter</filter-name>
		<filter-class>com.dmg.admin.servlet.HeadersFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>headersFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config> 
	 
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
